[submodule "vendors/causality"]
	path = vendors/causality
	url = https://github.com/Rounak-Paul/causality.git
[submodule "vendors/tree-sitter"]
	path = vendors/tree-sitter
	url = https://github.com/Rounak-Paul/tree-sitter.git
[submodule "plugins/sol-plugin-c/vendors/tree-sitter-c"]
	path = plugins/sol-plugin-c/vendors/tree-sitter-c
	url = https://github.com/Rounak-Paul/tree-sitter-c.git
[submodule "plugins/sol-plugin-cpp/vendors/tree-sitter-cpp"]
	path = plugins/sol-plugin-cpp/vendors/tree-sitter-cpp
	url = https://github.com/Rounak-Paul/tree-sitter-cpp.git
[submodule "plugins/sol-plugin-python/vendors/tree-sitter-python"]
	path = plugins/sol-plugin-python/vendors/tree-sitter-python
	url = https://github.com/Rounak-Paul/tree-sitter-python.git
[submodule "plugins/sol-plugin-javascript/vendors/tree-sitter-javascript"]
	path = plugins/sol-plugin-javascript/vendors/tree-sitter-javascript
	url = https://github.com/Rounak-Paul/tree-sitter-javascript.git
[submodule "plugins/sol-plugin-typescript/vendors/tree-sitter-typescript"]
	path = plugins/sol-plugin-typescript/vendors/tree-sitter-typescript
	url = https://github.com/Rounak-Paul/tree-sitter-typescript.git
[submodule "plugins/sol-plugin-json/vendors/tree-sitter-json"]
	path = plugins/sol-plugin-json/vendors/tree-sitter-json
	url = https://github.com/Rounak-Paul/tree-sitter-json.git
[submodule "plugins/sol-plugin-html/vendors/tree-sitter-html"]
	path = plugins/sol-plugin-html/vendors/tree-sitter-html
	url = https://github.com/Rounak-Paul/tree-sitter-html.git
[submodule "plugins/sol-plugin-markdown/vendors/tree-sitter-markdown"]
	path = plugins/sol-plugin-markdown/vendors/tree-sitter-markdown
	url = https://github.com/Rounak-Paul/tree-sitter-markdown.git
[submodule "plugins/sol-plugin-css/vendors/tree-sitter-css"]
	path = plugins/sol-plugin-css/vendors/tree-sitter-css
	url = https://github.com/Rounak-Paul/tree-sitter-css.git
[submodule "plugins/sol-plugin-cmake/vendors/tree-sitter-cmake"]
	path = plugins/sol-plugin-cmake/vendors/tree-sitter-cmake
	url = https://github.com/Rounak-Paul/tree-sitter-cmake.git
